div{
    width: 200px;
    height: 200px;
    position: relative;
}

#red{
    background: red;
    left: 210px;
}

#blue{
    top: -200px;
    background: blue;
}

#green{
    top: -400px;
    left: 410px;
    background: green;
}